<% provide(:title, @title) %>

<%= render 'shared/user_info' %>


<h1>
  <%= @title %>
</h1>



<div class="span8">
  <% if @users.any? %>
    <ul class="users">
      <%= render @users %>
    </ul>
    <%= will_paginate %>
  <% end %>
</div>
