<div class="panel panel-info">
  <div class="panel-heading"><%= event_post.title%></div>
  <div class="panel-body"><%= event_post.desc %></div>
  <div class="panel-footer">Hosted by: <%= event_post.event_host%></div>
</div>