<div class="panel panel-info">
  <div class="panel-heading"><%= event.title%></div>
  <div class="panel-body"><%= event.desc %></div>
  <div class="panel-footer">Hosted by: <%= event.event_host%></div>
</div>
