<% provide(:title, 'Attending events') %>

<%= render 'shared/user_info' %>

<h1>Attending Events</h1>


<div class="row">
  <div class="col-xs-12 col-sm-offset-2 col-sm-8">
    <ul class="event-list">

    <%= render @events %>
    </ul>
  </div>
</div>
