<% provide(:title, 'About Us') %>
<h1>About Us</h1>
<p>
  Group up is a NYIT project.
</p>
<blockquote class="blockquote">
  <p class="mb-0">This site is the best thing that ever happenned to me. When I hosted an event here, I made lots of friends and was able to learn C++. </p>
  <footer class="blockquote-footer">Some random guy <cite title="Source Title">Off the street</cite></footer>
</blockquote>