<% provide(:title, 'Help') %>
<h1>Help</h1>
<p>
  Get help on Group Up website by contacting the team leaders.
  We offer 24/7 customer support and will gladly answer all questions you may have about our brilliant application.
</p>